
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h2 class="text-danger">AccessDenied</h2>
    <h5 class="text-danger">You do not have persmission to view this resource</h5>
    <img src="~/Images/logo1.png" class="elevation-2 rounded border bg-blue" />
</div>

