@{
    ViewData["Title"] = "Home Page";
}

    <body ng-app="app">

        @* So khach OB *@
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> THÔNG KÊ SỐ KHÁCH OB THEO NGÀY</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" ng-controller="ChartController">

                    <div>
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels" chart-series="series" chart-colours></canvas>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>

        @* So khach ND *@
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> THÔNG KÊ SỐ KHÁCH ND THEO NGÀY</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" ng-controller="ChartNDController">

                    <div>
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels" chart-series="series" chart-colours></canvas>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
    
    @* Doanh thu OB theo ngay *@
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> THÔNG KÊ DOANH THU OB THEO NGÀY</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" ng-controller="ChartDTOBController">

                    <div>
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels" chart-series="series" chart-colours></canvas>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
    
    @* Doanh thu ND theo ngay *@
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> THÔNG KÊ DOANH THU ND THEO NGÀY</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" ng-controller="ChartDTNDController">

                    <div>
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="data" chart-labels="labels" chart-series="series" chart-colours></canvas>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>

    </body>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdn.rawgit.com/jtblin/angular-chart.js/0.8.8/dist/angular-chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/jtblin/angular-chart.js/0.8.8/dist/angular-chart.min.css">
    <script src="~/lib/angular.js/angular.js"></script>
    <script src="~/Admin/Home/homController.js"></script>
    <script src="~/Admin/Home/homNdController.js"></script>
    <script src="~/Admin/Home/homDTOBController.js"></script>
    <script src="~/Admin/Home/homDTNDController.js"></script>
}
